<section id="insta">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="service-heading">Our Instagram</h4>
                </div>
            </div>
            <!--Instagram Feed Embed-->
            <!--
        <script src="https://s.electricblaze.com/widget.js" defer></script>
        <div class="electricblaze-id-2Uhx7fE"></div>
        -->
            
            <div class="embedsocial-hashtag" data-ref="07122b84e3babe84a74789d592a3212a493741cc"> <a class="feed-powered-by-es feed-powered-by-es-feed-new" href="https://embedsocial.com/social-media-aggregator/" target="_blank" title=""><span>→</span> </a> </div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>
