<!-- Services Section -->
    <section id="services">
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <!--<div class="elfsight-app-86f9d656-c6cb-49d6-9d3a-dd5d5bf2eceb"></div>-->
        <div class="elfsight-app-86f9d656-c6cb-49d6-9d3a-dd5d5bf2eceb eapps-instagram-feed es-widget" id="eapps-instagram-feed-1" style="position: center;"><div class="eapps-instagram-feed-container">
    <div class="eapps-instagram-feed-title-container" eapps-link="titleContainer"><div class="eui-widget-title es-widget-title eapps-instagram-feed-title" style="display: none;"></div></div>

    <div class="eapps-instagram-feed-content">
        <div class="eapps-instagram-feed-header-container" eapps-link="headerContainer"></div>
        <div class="eapps-instagram-feed-posts-container" eapps-link="postsContainer"><div class="eapps-instagram-feed-posts-slider eapps-instagram-feed-posts eui-slider es-layout es-layout-carousel eapps-instagram-feed-posts-large">
    <div class="eapps-instagram-feed-posts-slider-inner eapps-instagram-feed-posts-inner eui-slider-inner es-layout-carousel-content" eapps-link="postsInner" style="min-height: 0px; margin: 0px; width: 500px;"><div class="eapps-instagram-feed-posts-view eui-slider-slide"><div class="eapps-instagram-feed-posts-item-template-tile eapps-instagram-feed-posts-item es-post eapps-instagram-feed-posts-item-type-image eapps-instagram-feed-posts-item-visible eapps-instagram-feed-posts-item-with-data eapps-instagram-feed-posts-item-image-landscape eapps-instagram-feed-posts-item-loaded" data-code="Ck4bu31p4wp" style="width: calc(100% - 0px); margin: 0px;">
    <a class="eapps-instagram-feed-posts-item-link" href="https://www.instagram.com/p/Ck4bu31p4wp" eapps-link="link" target="_blank" rel="noopener noreferrer nofollow">
        <div class="eapps-instagram-feed-posts-item-media es-post-media">
            <div class="eapps-instagram-feed-posts-item-image-wrapper">
    <img class="eapps-instagram-feed-posts-item-image es-post-media-image" src="https://scp2.elfsightcdn.com/?url=https%3A%2F%2Finstagram.fvsa2-1.fna.fbcdn.net%2Fv%2Ft51.2885-15%2F315068524_443539077959813_7247251789177736972_n.jpg%3Fstp%3Ddst-jpg_e35_s640x640_sh0.08%26_nc_ht%3Dinstagram.fvsa2-1.fna.fbcdn.net%26_nc_cat%3D105%26_nc_ohc%3Dy5PFaH9Ek-kAX_AVTPz%26edm%3DAPU89FABAAAA%26ccb%3D7-5%26oh%3D00_AfAl4-AlFIlP7EvTSrHsNoRqQ9xbmdKDTmK0QCOcbZpiFg%26oe%3D63BCF64F%26_nc_sid%3D86f79a" eapps-link="image" alt="Hey everyone come join us for our study night Tuesday at the nook! It will be...">
    

    <span class="eapps-instagram-feed-posts-item-image-icon-video eapps-instagram-feed-posts-item-image-icon es-post-type">
        <svg viewBox="0 0 24 24">
            <path d="M23.467,5.762c-0.118-0.045-0.232-0.068-0.342-0.068c-0.246,0-0.451,0.087-0.615,0.26l-3.76,3.217v5.766l3.76,3.578c0.164,0.173,0.369,0.26,0.615,0.26c0.109,0,0.223-0.023,0.342-0.068C23.822,18.552,24,18.284,24,17.901V6.57C24,6.186,23.822,5.917,23.467,5.762z"></path>
            <path d="M16.33,4.412c-0.77-0.769-1.696-1.154-2.78-1.154H3.934c-1.084,0-2.01,0.385-2.78,1.154C0.385,5.182,0,6.108,0,7.192v9.616c0,1.084,0.385,2.01,1.154,2.78c0.77,0.77,1.696,1.154,2.78,1.154h9.616c1.084,0,2.01-0.385,2.78-1.154c0.77-0.77,1.154-1.696,1.154-2.78v-3.076v-3.478V7.192C17.484,6.108,17.099,5.182,16.33,4.412z M8.742,17.229c-2.888,0-5.229-2.341-5.229-5.229c0-2.888,2.341-5.229,5.229-5.229S13.971,9.112,13.971,12C13.971,14.888,11.63,17.229,8.742,17.229z"></path>
            <circle cx="8.742" cy="12" r="3.5"></circle>
        </svg>
    </span>

    <span class="eapps-instagram-feed-posts-item-image-icon-carousel eapps-instagram-feed-posts-item-image-icon es-post-type">
        <svg viewBox="0 0 45.964 45.964">
            <path d="M32.399,40.565H11.113v1.297c0,2.24,1.838,4.051,4.076,4.051h26.733c2.239,0,4.042-1.811,4.042-4.051V15.13c0-2.237-1.803-4.068-4.042-4.068h-1.415v21.395C40.507,36.904,36.845,40.566,32.399,40.565z"></path>
            <path d="M0,4.102l0,28.355c0,2.241,1.814,4.067,4.051,4.067h28.365c2.237,0,4.066-1.826,4.066-4.067l0-28.356c0-2.238-1.828-4.051-4.066-4.051H4.051C1.814,0.05,0,1.862,0,4.102z"></path>
        </svg>
    </span>
</div>

        </div>

        
            <div class="eapps-instagram-feed-posts-item-overlay" eapps-link="overlay">
                <div class="eapps-instagram-feed-posts-item-content" eapps-link="content">
                    
                        <div class="eapps-instagram-feed-posts-item-counters">
                            
                                <div class="eapps-instagram-feed-posts-item-likes-count es-post-likes-count">
    <svg class="eapps-instagram-feed-posts-item-likes-count-icon" viewBox="0 0 24 24">
        <path d="M17.7,1.5c-2,0-3.3,0.5-4.9,2.1c0,0-0.4,0.4-0.7,0.7c-0.3-0.3-0.7-0.7-0.7-0.7c-1.6-1.6-3-2.1-5-2.1C2.6,1.5,0,4.6,0,8.3
        c0,4.2,3.4,7.1,8.6,11.5c0.9,0.8,1.9,1.6,2.9,2.5c0.1,0.1,0.3,0.2,0.5,0.2s0.3-0.1,0.5-0.2c1.1-1,2.1-1.8,3.1-2.7
        c4.8-4.1,8.5-7.1,8.5-11.4C24,4.6,21.4,1.5,17.7,1.5z M14.6,18.6c-0.8,0.7-1.7,1.5-2.6,2.3c-0.9-0.7-1.7-1.4-2.5-2.1
        c-5-4.2-8.1-6.9-8.1-10.5c0-3.1,2.1-5.5,4.9-5.5c1.5,0,2.6,0.3,3.8,1.5c1,1,1.2,1.2,1.2,1.2C11.6,5.9,11.7,6,12,6.1
        c0.3,0,0.5-0.2,0.7-0.4c0,0,0.2-0.2,1.2-1.3c1.3-1.3,2.1-1.5,3.8-1.5c2.8,0,4.9,2.4,4.9,5.5C22.6,11.9,19.4,14.6,14.6,18.6z"></path>
    </svg>

    <div class="eapps-instagram-feed-posts-item-likes-count-label">20</div>
</div>

                            

                            
                                <div class="eapps-instagram-feed-posts-item-comments-count es-post-comments-count">
    <svg class="eapps-instagram-feed-posts-item-comments-count-icon" viewBox="0 0 24 24">
        <path d="M1,11.9C1,17.9,5.8,23,12,23c1.9,0,3.7-1,5.3-1.8l5,1.3l0,0c0.1,0,0.1,0,0.2,0c0.4,0,0.6-0.3,0.6-0.6c0-0.1,0-0.1,0-0.2
        l-1.3-4.9c0.9-1.6,1.4-2.9,1.4-4.8C23,5.8,18,1,12,1C5.9,1,1,5.9,1,11.9z M2.4,11.9c0-5.2,4.3-9.5,9.5-9.5c5.3,0,9.6,4.2,9.6,9.5
        c0,1.7-0.5,3-1.3,4.4l0,0c-0.1,0.1-0.1,0.2-0.1,0.3c0,0.1,0,0.1,0,0.1l0,0l1.1,4.1l-4.1-1.1l0,0c-0.1,0-0.1,0-0.2,0
        c-0.1,0-0.2,0-0.3,0.1l0,0c-1.4,0.8-3.1,1.8-4.8,1.8C6.7,21.6,2.4,17.2,2.4,11.9z"></path>
    </svg>

    <div class="eapps-instagram-feed-posts-item-comments-count-label">1</div>
</div>

                            
                        </div>
                    

                    
                </div>
            </div>
        

        
            <div class="eapps-instagram-feed-posts-item-red-like-container es-post-like-notification" eapps-link="redLikeContainer"></div>
        
    </a>
</div></div></div>

    <div class="eapps-instagram-feed-posts-slider-prev eapps-instagram-feed-posts-slider-nav eui-slider-arrow-prev eui-slider-arrow es-layout-carousel-arrow es-layout-carousel-arrow-prev">
        <svg viewBox="4 0 8 16" width="12" height="16" class="eapps-instagram-feed-posts-slider-nav-icon">
            <path d="M4.3,8.7l6,5.9c0.4,0.4,1.1,0.4,1.5,0c0.4-0.4,0.4-1.1,0-1.5L6.5,8l5.2-5.2c0.4-0.4,0.4-1.1,0-1.5
        c-0.4-0.4-1.1-0.4-1.5,0l-6,6C3.9,7.7,3.9,8.3,4.3,8.7z"></path>
        </svg>
    </div>

    <div class="eapps-instagram-feed-posts-slider-next eapps-instagram-feed-posts-slider-nav eui-slider-arrow-next eui-slider-arrow es-layout-carousel-arrow es-layout-carousel-arrow-next eui-slider-arrow-enabled">
        <svg viewBox="4 0 8 16" width="12" height="16" class="eapps-instagram-feed-posts-slider-nav-icon">
            <path d="M11.7,7.3l-6-5.9c-0.4-0.4-1.1-0.4-1.5,0c-0.4,0.4-0.4,1.1,0,1.5L9.5,8l-5.2,5.2
        c-0.4,0.4-0.4,1.1,0,1.5c0.4,0.4,1.1,0.4,1.5,0l6-6C12.1,8.3,12.1,7.7,11.7,7.3z"></path>
        </svg>
    </div>
</div></div>
        <div class="eapps-instagram-feed-error-container" eapps-link="errorContainer"></div>
        <div class="eapps-instagram-feed-content-loader eapps-instagram-feed-loader" eapps-link="loader"></div>
    </div>
</div>
</div><style>
    #eapps-instagram-feed-1 a,
    #eapps-instagram-feed-popup-1 a {
        text-decoration: none;
        color: #000;
        margin: 0;
    }

    #eapps-instagram-feed-1 a:hover,
    #eapps-instagram-feed-popup-1 a:hover {
        text-decoration: underline;
    }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-header {
            background: rgb(255, 252, 235);
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-header-user-picture {
            box-shadow: 0 0 0 2px rgb(255, 252, 235);;
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-header,
        #eapps-instagram-feed-1 .eapps-instagram-feed-header a {
            color: rgb(0, 0, 0);
        }
    

    
        #eapps-instagram-feed-1 a.eapps-instagram-feed-header-follow-button,
        #eapps-instagram-feed-1 a.eapps-instagram-feed-header-follow-button:hover {
            text-decoration: none;
            background: rgb(163, 90, 36);
        }
    

    
        #eapps-instagram-feed-1 a.eapps-instagram-feed-header-follow-button,
        #eapps-instagram-feed-1 a.eapps-instagram-feed-header-follow-button:hover {
            color: rgb(255, 255, 255);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-template-classic {
            background: rgb(163, 90, 36);
        }

        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-user-image {
            box-shadow: 0 0 0 2px rgb(163, 90, 36);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-text,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a:hover {
            color: rgb(255, 255, 255);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content a,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content a:hover {
            color: rgb(255, 255, 255);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-overlay .eapps-instagram-feed-posts-item-content,
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-overlay .eapps-instagram-feed-posts-item-text {
            color: rgb(103, 44, 184);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-overlay {
            background: rgba(255, 175, 175, 0.9);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav-icon {
            fill: rgb(251, 167, 225);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-slider-nav {
            background: rgba(255, 255, 255, 0.9);
        }
    

    
        #eapps-instagram-feed-1 .eapps-instagram-feed-posts-grid-load-more {
            background: rgb(163, 90, 36);
        }
    

    
        #eapps-instagram-feed-popup-1 {
            background: rgba(255, 175, 175, 0.9);
        }
    

    
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item {
            background: rgb(255, 255, 255);
        }

        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-posts-item-user-image {
            box-shadow: 0 0 0 2px rgb(255, 255, 255);
        }
    

    
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item a,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item a:hover {
            color: rgb(17, 17, 17);
        }
    

    
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-text a:not(.eapps-instagram-feed-popup-item-text-author),
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-text a:not(.eapps-instagram-feed-popup-item-text-author):hover,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-comments-item-text a,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-comments-item-text a:hover {
            color: rgb(247, 36, 182);
        }
    

    
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item .eapps-instagram-feed-posts-item-user-follow-link a,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item .eapps-instagram-feed-posts-item-user-follow-link a:hover {
            color: rgb(255, 175, 175);
        }
    

    
        #eapps-instagram-feed-popup-1 a.eapps-instagram-feed-popup-item-cta-button,
        #eapps-instagram-feed-popup-1 a.eapps-instagram-feed-popup-item-cta-button:hover {
            color: rgb(251, 167, 225);
        }

        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-cta-highlighted a.eapps-instagram-feed-popup-item-cta-button,
        #eapps-instagram-feed-popup-1 .eapps-instagram-feed-popup-item-cta-highlighted a.eapps-instagram-feed-popup-item-cta-button:hover {
            background: rgb(251, 167, 225);
            color: #fff;
        }
    
</style><style></style></div>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us/Purpose</h2>
                    <h3 class="section-subheading text-muted"><span>Check out events tab for our upcoming socials, workshops, and more!</span></h3>
                </div>
            </div>
                        <!--- Beginning of Newsletter Code -->
            <div style="text-align: center; margin-bottom:2cm; margin-top:1px">
             <!-- Button to launch a modal -->
    <button type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModal">
        Click here for our Newsletter!
    </button>
  
    <!-- Modal -->
    <div class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true">
         
        <div class="modal-dialog" role="document">
            <div class="modal-content">
             
                <!-- Add image inside the body of modal -->
                <div class="modal-body">
                    <img id="image" src="img/portfolio/nov_newsletter.jpg" alt="Cougarettes Newsletter" />
                </div>
 
                <div class="modal-footer">
                    <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">
                        Close
                </button>
                </div>
            </div>
        </div>
    </div>
   
    <!-- Adding scripts to use bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity=
"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity=
"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity=
"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>
            </div>
            <!--- End of Newsletter Code-->
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">We hope to consrtuct a sense of camaraderie amongst women in the field, build confidence 
                        in their skill set, and to develop their professional and technical skills. We cannot wait to meet you!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">Helpful sessions to help develop knowledge and enhance resume projects! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kattis Competitions</h4>
                    <p class="text-muted">Bi-weekly coding competitions. Helps improve problem-solving skills and prepares for technical interviews.</p>
                </div>
            </div>
        </div>
    </section>
