<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us/Purpose</h2>
                    <h3 class="section-subheading text-muted"><span>Check out events tab for our upcoming socials, workshops, and more!</span></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Community</h4>
                    <p class="text-muted">We hope to consrtuct a sense of camaraderie amongst women in the field, build confidence 
                        in their skill set, and to develop their professional and technical skills. We cannot wait to meet you!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Workshops</h4>
                    <p class="text-muted">Helpful sessions to help develop knowledge and enhance resume projects! </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Kattis Competitions</h4>
                    <p class="text-muted">Bi-weekly coding competitions. Helps improve problem-solving skills and prepares for technical interviews.</p>
                </div>
            </div>
        </div>
    </section>
